* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.content {
  display: flex;
  flex-direction: column;
  
  .resume {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../assets/bg-hero-desktop.svg);
    background-color: rgb(237, 251, 254);
    .resume-description {
      display: flex;      
    }
  }

  .values {
    display: flex;
    flex-direction: column;
    
    .value-item {
      display: flex;
      
  
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;

    .more-info{
      display: flex;
      flex-direction: column;

      .footer{
        display: flex;
      }
    }
  }
}