* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Popins', sans-serif;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url(../assets/bg-hero-desktop.svg);
  background-color: #edfbfe;
  padding-top: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.content .resume header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3rem;
}

.content .resume header .button-try {
  padding-top: .8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-size: smaller;
  font-weight: bold;
  color: #00252e;
  background-color: white;
  -webkit-box-shadow: -1px 4px 10px -3px rgba(0, 0, 0, 0.42);
          box-shadow: -1px 4px 10px -3px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}

.content .resume header .button-try:hover {
  -webkit-box-shadow: -1px 4px 9px -3px rgba(0, 0, 0, 0.83);
          box-shadow: -1px 4px 9px -3px rgba(0, 0, 0, 0.83);
}

.content .resume .resume-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
}

.content .resume .resume-description .resume-text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .resume .resume-description .resume-text h1 {
  width: 80%;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 1.5;
  color: #00252e;
}

.content .resume .resume-description .resume-text p {
  line-height: 1.5;
  color: #00252e;
  padding-bottom: 2rem;
}

.content .resume .resume-description .resume-text a {
  padding-top: .8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
  color: white;
  background-color: #ff52bf;
  border-radius: 20px;
  -webkit-box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.47);
          box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.47);
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}

.content .resume .resume-description .resume-text a:hover {
  -webkit-box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.73);
          box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.73);
}

.content .resume .resume-description .resume-image {
  width: 60%;
  padding-left: 4rem;
}

.content .resume .resume-description .resume-image img {
  width: 100%;
}

.content .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 12rem;
}

.content .values .value-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.07);
}

.content .values .value-item .text {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8rem;
  padding-right: 9rem;
}

.content .values .value-item .text h2 {
  color: #00252e;
  padding-bottom: 2rem;
}

.content .values .value-item .text p {
  color: #808d99;
  line-height: 1.25;
}

.content .values .value-item .value-img {
  width: 40%;
  padding: 3rem;
}

.content .values .value-item .text-opposite {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 18rem;
  padding-right: 2rem;
}

.content .values .value-item .text-opposite h2 {
  color: #00252e;
  padding-bottom: 2rem;
}

.content .values .value-item .text-opposite p {
  color: #808d99;
  line-height: 1.25;
}

.content .values .value-item .value-img-opposite {
  width: 40%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 8rem;
}

.content .values .value-item + .value-item {
  margin-top: 2rem;
}

.content .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .subscribe .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00252e;
  color: white;
  padding-bottom: 4rem;
  z-index: 1;
}

.content .subscribe .more-info .link {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  position: relative;
  top: -150px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.28);
          box-shadow: 1px 0px 15px -2px rgba(0, 0, 0, 0.28);
  margin: 0 auto;
  padding: 0 7rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.content .subscribe .more-info .link h1 {
  padding-bottom: 2rem;
}

.content .subscribe .more-info .link a {
  padding-top: .8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
  color: white;
  background-color: #ff52bf;
  border-radius: 20px;
  -webkit-box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.47);
          box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.47);
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.content .subscribe .more-info .link a:hover {
  -webkit-box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.73);
          box-shadow: -1px 4px 9px -3px rgba(255, 82, 191, 0.73);
}

.content .subscribe .more-info .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5rem;
}

.content .subscribe .more-info .footer .contact {
  width: 33%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
  row-gap: 2em;
  width: 33%;
  padding-right: 6rem;
}

.content .subscribe .more-info .footer .map-site {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  width: 33%;
}

.content .subscribe .more-info .footer .social-copyright {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .subscribe .more-info .footer .social-copyright .social img {
  height: 33px;
  padding-right: .25rem;
}

@media only screen and (max-width: 1050px) {
  .content .resume .resume-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  .content .resume .resume-description .resume-text {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }
  .content .resume .resume-description .resume-image {
    width: 80%;
    padding-left: unset;
  }
  .content .values .value-item .text {
    width: 80%;
    padding-right: 7rem;
  }
  .content .values .value-item .text h2 {
    padding-bottom: 1.5rem;
  }
  .content .values .value-item .text-opposite {
    width: 80%;
    padding-left: 12rem;
  }
  .content .values .value-item .text-opposite h2 {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .content .resume {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .content .resume header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .content .resume header a img {
    width: 120px;
  }
  .content .resume header .button-try {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .4rem 1.5rem;
  }
  .content .resume .resume-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .resume .resume-description .resume-text {
    width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .resume .resume-description .resume-text h1 {
    font-size: 1.5rem;
  }
  .content .resume .resume-description .resume-text p {
    text-align: center;
  }
  .content .resume .resume-description .resume-image {
    width: 90%;
    padding-left: unset;
    padding-top: 2rem;
  }
  .content .values {
    padding: 4rem 2rem;
  }
  .content .values .value-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .values .value-item .value-img, .content .values .value-item .value-img-opposite {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    padding: 3rem 0;
  }
  .content .values .value-item .text, .content .values .value-item .text-opposite {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: unset;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
  .content .values .value-item .text h2, .content .values .value-item .text-opposite h2 {
    font-size: larger;
  }
  .content .values .value-item .text p, .content .values .value-item .text-opposite p {
    text-align: center;
  }
  .content .subscribe {
    padding-top: 6rem;
  }
  .content .subscribe .more-info {
    padding-left: unset;
    padding-bottom: 3rem;
  }
  .content .subscribe .more-info .link {
    top: -100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 1.5rem;
  }
  .content .subscribe .more-info .link h1 {
    font-size: larger;
  }
  .content .subscribe .more-info .link a {
    font-size: small;
  }
  .content .subscribe .more-info .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
  }
  .content .subscribe .more-info .footer .contact {
    width: unset;
    padding-right: unset;
    padding-bottom: 2rem;
  }
  .content .subscribe .more-info .footer .map-site {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }
  .content .subscribe .more-info .footer .social-copyright {
    width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .content .subscribe .more-info .footer .social-copyright .social {
    padding-bottom: 1rem;
  }
  .content .subscribe .more-info .footer .social-copyright .copyright {
    font-size: small;
  }
}
/*# sourceMappingURL=styles.css.map */